@import url("./global.css");

@media only screen and (min-width: 280px) and (max-width: 600px) {
  .right-items li {
    display: none;
  }

  .content-container {
    margin: 20px auto;
    padding: 10px;
  }
  .image-overlay {
    width: 90%;
  }

  .input,
  button {
    font-size: 12px;
  }
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.main-wrapper {
  background-color: black;
  flex-grow: 1;
}
li {
  position: inherit;
  list-style: none;
  display: inline-block;
  font-size: 18px;
  font-family: cursive;
  margin: 5px;
  text-align: center;
}
nav ul {
  color: aliceblue;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 5px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #2acbd5;
}
nav .left-items,
nav .right-items {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}
nav .left-items li,
nav .right-items li {
  margin-right: 20px;
}

nav .right-items li img {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}
nav .right-items li span {
  font-size: 12px;
  color: white;
}

.image-container1,
.image-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  z-index: 50;
}
.image-container1 img,
.image-container2 img {
  width: 100%;
  height: 100%;
  display: block;
}

.content-container {
  max-width: 1200px;
  height: auto;
  text-align: center;
  border-radius: 30px;
  border: 2px solid #03fff0;
  margin-bottom: 20px;
  margin: 50px auto 20px;
  padding: 20px;
  z-index: 50;
}

.Submit-button {
  background-color: #2acbd5;
  color: black;
  padding: 8px 40px;
  border: solid 1px white;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 0;
  font-size: medium;
}
.Submit-button:hover {
  background-color: #8c0000;
}

.content-container,
p {
  font-size: large;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: justify;
}
h1 {
  color: #03fff0;
  text-align: center;
}
h2 {
  color: #03fff0;
  font-size: 30px;
  border-top: 1px solid #03fff0;
  padding-top: 30px;
  text-align: center;
}
:placeholder-shown {
  margin-bottom: 30px;
  width: 50%;
  height: auto;
  margin-left: 20%;
}
h3 {
  text-align: center;
  font-size: 2em;
  margin-top: 25px;
  margin-bottom: 20px;
}
h4 {
  text-align: center;
  font-size: 2em;
  margin-top: 25px;
  margin-bottom: 20px;
}
.image-overlay-1,
.image-overlay-2 {
  padding: 1rem;
  border-radius: 30px;
  border: 1px solid aqua;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  max-width: 600px;
  height: 400px;
  position: absolute;
  flex-direction: column;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  top: 50%;
  left: 50%;
}
.label {
  align-items: center;
}

.a {
  color: beige;
  font-size: small;
}
.social-buttons {
  text-align: center;
  margin-top: 15px;
}
form {
  max-width: 300px;
  margin: 0 auto;
}
label,
input,
button {
  font-size: 16px; /* Default font size */
}
.google-button {
  background-color: #d58b2a;
  color: black;
  padding: 8px var(--button-size);
  border: solid 1px white;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 0;
  font-size: medium;
}
.apple-button {
  background-color: #629669;
  color: black;
  padding: 8px var(--button-size);
  border: solid 1px white;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 0;
  font-size: medium;
}
.apple-button:hover {
  background-color: #5b8c00;
}
.google-button:hover {
  background-color: #8c1500;
}

#signInForm input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}
#signUpForm input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}
#signUpForm,
#signInForm label {
  color: #c4edea;
  width: auto;
  margin-bottom: 10px;
}
#signInForm,
#signUpForm {
  width: 100%;
  max-width: none;
  margin: 0;
  margin-bottom: 10px;
}

h5 {
  color: rgb(141, 141, 70);
  font-family: "Poppins", sans-serif;
  font-size: smaller;
  font-weight: 300;
  text-align: center;
}
