
@import url("./global.css");

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
body {
    margin: 0;
    padding: 0;
    color: white;

  }
  
  h2 {
    margin-top: 40px;
    text-align: center;
    border-bottom: 1px solid aqua;
  }
  
  section {
    margin-bottom: 30px;
    max-width: 1200px; 
    margin: auto; 
    padding: 0 20px; 
  }
  

  section div {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  section div h3 {
    margin-bottom: 10px;
  }
  
  /* Contact Form Styles */
  form {
    max-width: 800px;
    margin: auto;
    padding: 0 20px; 
  }
  
  form label,
  form input,
  form textarea {
    display: block;
    width: 100%;
  }
  
  form input,
  form textarea {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  form input[type="submit"] {
    background: radial-gradient(50% 50% at 50% 50%, aqua 60%, #070707 150%);
    color:black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(241, 186, 4, 0.863);
  }
  
  form input[type="submit"]:hover {
    background: #d5e40a;
    background: radial-gradient(50% 50% at 50% 50%, yellow 60%, black 150%);
    
  }
  .text p{
    padding: 20px;
  }
  .image-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .image-container img {
    width: 100%;
    height: auto;
    opacity: 0.5;
    border-bottom: 2px solid #0af3f3;
  }