@import url("./global.css");




.header-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.cart-item-details {
  font-size: 12px;
  color: black;
}



.add-to-cart-button{
  display: inline-block;
  padding: 10px 30px;
  background: radial-gradient(50% 50% at 50% 50%, aqua 60%, #070707 150%);
  color: #070707;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid rgb(29, 29, 28);
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(241, 186, 4, 0.863);
}

.add-to-cart-button:hover {
  background: radial-gradient(50% 50% at 50% 50%, #070707 60%, aqua 150%);
  color: white;
}



p{
  color: white;
}

h1{
  text-align: center;
  border-bottom: 1px solid aqua;
  padding: 20px;
}
#movie-details {
  display: flex;
  margin: 20px;
}

.movie-image {
  flex: 1;
}

.movie-image img {
  max-width: 100%;
}

.movie-info {
  flex: 2;
  padding: 0 20px;
}

.movie-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.movie-info p {
  margin-bottom: 15px;
}

.movie-info strong {
  font-weight: bold;
}

.movie-info p:last-child {
  margin-bottom: 0;
}

 /* Contact Form Styles */
 form {
  max-width: 800px;
  margin: auto;
  padding: 0 20px; 
}

form label,
form input,
form textarea {
  display: block;
  width: 100%;
}

form input,
form textarea {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input[type="submit"] {
  background: radial-gradient(50% 50% at 50% 50%, aqua 60%, #070707 150%);
  color:black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(241, 186, 4, 0.863);
}

form input[type="submit"]:hover {
  background: #d5e40a;
  background: radial-gradient(50% 50% at 50% 50%, yellow 60%, black 150%);
  
}
.text p{
  padding: 20px;
}
h4{
  text-align: center;
  border-top: 1px solid aqua;
  padding: 20px;
  color: white;
}

@media only screen and (min-width: 240px) and (max-width: 900px) and (min-resolution: 2dppx) {
.movie-info h2{
  font-size: 18px;
}
.movie-info p {
  font-size: 15px;
}
h1{
  font-size: 20px;
}
h3{
  font-size: 12px;
}
}
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.go-to-cart {
  display: inline-block;
  padding: 10px 40px;
  background: radial-gradient(50% 50% at 50% 50%, aqua 60%, #070707 150%);
  color: #070707;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid rgb(29, 29, 28);
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(241, 186, 4, 0.863);
  margin: 10px;
}

.go-to-cart:hover {
  background: radial-gradient(50% 50% at 50% 50%, #070707 60%, aqua 150%);
  color: white;
}

.continue-shopping {
  display: inline-block;
  padding: 10px 40px;
  background: radial-gradient(50% 50% at 50% 50%, aqua 60%, #070707 150%);
  color: #070707;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid rgb(29, 29, 28);
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(241, 186, 4, 0.863);
  margin: 10px;
}

.continue-shopping:hover {
  background: radial-gradient(50% 50% at 50% 50%, #070707 60%, aqua 150%);
  color: white;
}

@media (max-width: 600px) {
  .button-container {
    flex-direction: column;
    align-items: center;
  }
}