@import url("./global.css");

@media only screen and (min-width: 360px) and (max-width: 768px) {
  .main-wrapper {
    flex-direction: column;
  }
  .movie-icon {
    display: none;
  }
  .links {
    display: none;
  }
  .left-items,
  .right-items li {
    display: none;
  }
}


.header-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}





.add-to-cart-button
{
  background-color: #2acbd5;
  color: black;
  padding: 8px 60px;
  border: solid 1px white;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 40px;
  text-decoration: none;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}

.add-to-cart-button:hover {
  background-color: #ccb807;
}

h1.left-aligned {
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  padding-left: 20px;
}
h1.right-aligned {
  text-align: right;
  font-weight: bold;
  color: #f80a0a;
  font-size: large;
  padding-right: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p{
  color: white;
}

h4 {
  color: rgb(141, 141, 70);
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}
#movie-details {
  display: flex;
  margin: 20px;
}

.movie-image {
  flex: 1;
}

.movie-image img {
  max-width: 100%;
}

.movie-info {
  flex: 2;
  padding: 0 20px;
}

.movie-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.movie-info p {
  margin-bottom: 5px;
}

.movie-info strong {
  font-weight: bold;
}

.movie-info p:last-child {
  margin-bottom: 0;
}

