@import url("./global.css");




.header-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.cart-item-details {
  font-size: 12px;
  color: black;
}



.add-to-cart-button
{
  background-color: #2acbd5;
  color: black;
  padding: 8px 60px;
  border: solid 1px white;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 40px;
  text-decoration: none;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}

.add-to-cart-button:hover {
  background-color: #ccb807;
}



p{
  color: white;
}

h1{
  text-align: center;
  border-bottom: 1px solid aqua;
  padding: 20px;
}
#movie-details {
  display: flex;
  margin: 20px;
}

.movie-image {
  flex: 1;
}

.movie-image img {
  max-width: 100%;
}

.movie-info {
  flex: 2;
  padding: 0 20px;
}

.movie-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.movie-info p {
  margin-bottom: 15px;
}

.movie-info strong {
  font-weight: bold;
}

.movie-info p:last-child {
  margin-bottom: 0;
}

 /* Contact Form Styles */
 form {
  max-width: 800px;
  margin: auto;
  padding: 0 20px; 
}

form label,
form input,
form textarea {
  display: block;
  width: 100%;
}

form input,
form textarea {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input[type="submit"] {
  background-color:aqua;
  color:black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #555;
}
.text p{
  padding: 20px;
}
h4{
  text-align: center;
  border-top: 1px solid aqua;
  padding: 20px;
  color: white;
}